<div class="sidebar-content">
    <div class="sidebar-title d-flex justify-content-between">
        <span>Filter</span>
        <a><i class="ri-close-line" (click)="closeFilterModal()"></i></a>
    </div>
    <div class="widget">
        <div class="summary">
            <input type="checkbox" name="cats" id="aaa" checked>
            <label for="aaa">
                <span>Size:</span>
                <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord product-size">
                <div class="wrap">
                    <button>S</button>
                    <button>M</button>
                    <button>L</button>
                    <button>XL</button>
                    <button>XXL</button>
                </div>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="summary">
            <input type="checkbox" name="cats" id="aab" checked>
            <label for="aab">
                <span>Colors:</span>
                <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord product-color">
                <div class="wrap">
                    <button class="tosca"></button>
                    <button class="brown"></button>
                    <button class="ocean"></button>
                </div>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="summary">
            <input type="checkbox" name="cats" id="aad">
            <label for="aad">
                <span>Departamentos:</span>
                <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord list-block scrollto">
                <ul class="wrapper initial">
                    <li *ngFor="let brand of deptoNames"><a [routerLink]="['/department']"> {{ brand.name }} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="summary">
            <input type="checkbox" name="cats" id="aac">
            <label for="aac">
                <span>Categorias:</span>
                <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord list-block scrollto">
                <ul class="wrapper initial">
                    <li *ngFor="let cat of catNames"><a [routerLink]="['/category']"
                            [queryParams]="{s: cat.name_link, q: cat.id}"> {{ cat.name }} </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="summary">
            <input type="checkbox" name="cats" id="aae">
            <label for="aae">
                <span>Marcas:</span>
                <i class="ri-arrow-down-s-line"></i>
            </label>
            <div class="accord list-block scrollto">
                <ul class="wrapper initial">
                    <li *ngFor="let depto of brandNames"><a [routerLink]="['/brand']"> {{ depto.name }} </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="widget">
        <div class="summary">
            <label><span>Price</span></label>
            <div class="range-track">
                <input type="range" value="28" min="0" max="500" step="1">
            </div>
            <div class="price-range grey-color">
                <span>$30</span>
                <span>$500</span>
            </div>
        </div>
    </div>
</div>