<div id="page" class="page-cart">
    <main>
        <div class="section">
            <div class="container wide">
                <div class="wrap">
                    <div class="heading">
                        <h1 class="reccos-title my-4">Cart</h1>
                    </div>
                    <div class="content" *ngIf="cart.length > 0; else emptyCart">
                        <div class="cart-table">
                            <div class="product-list has-bg">
                                <div class="table-title">
                                    <ul class="m-0">
                                        <li class="dotgrid">
                                            <div class="grouping wrapper">
                                                <span></span>
                                                <span>Product</span>
                                            </div>

                                            <div class="grouping wrapper">
                                                <span>Price</span>
                                                <span>Qty</span>
                                                <span>Total</span>
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="table-content">
                                    <ul>
                                        <li class="dotgrid" *ngFor="let c of cart; let idx = index">
                                            <div class="grouping wrapper">
                                                <div class="thumbnail ob-cover">
                                                    <a href="">
                                                        <img [src]="c.product.link_photo" alt="">
                                                    </a>
                                                </div>
                                                <div class="variants">
                                                    <h4 class="dot-title m-0">
                                                        <a href=""> {{ c.product.name }} </a>
                                                    </h4>
                                                    <div class="color grey-color">
                                                        <span><strong>Color</strong>:</span>
                                                        <span> YELLOW </span>
                                                    </div>
                                                    <div class="size grey-color">
                                                        <span><strong>Size</strong>:</span>
                                                        <span> L </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grouping wrapper">
                                                <div class="price">$ {{ c.product.price_promo | number: '1.2-2' }}</div>
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button (click)="addProduct(idx, true)">+</button>
                                                        <input type="text" [value]="c.qtde_item">
                                                        <button (click)="addProduct(idx)">-</button>
                                                    </div>
                                                </div>
                                                <div class="price-sub">${{ (c.product.price_promo *
                                                    c.qtde_item).toFixed(2) }}
                                                </div>
                                                <button (click)="removeItem(c, idx)" mat-icon-button color="warn">
                                                    <mat-icon>delete_outline</mat-icon>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cart-total">
                            <div class="product-list has-bg">
                                <div class="table-content">
                                    <div class="grouping">
                                        <div class="add-note">
                                            <textarea rows="3" placeholder="Aditional note +"></textarea>
                                        </div>
                                        <div class="sub-total">
                                            <div class="sub-pricing">
                                                <span>Subtotal</span>
                                                <span class="sub-total-price">$ {{ totalAmount() | number: '1.2-2' }}</span>
                                            </div>
                                            <div class="sub-terms d-flex align-items-center">
                                                <input type="checkbox" id="terms" class="checker">
                                                <label class="ms-3" for="terms">I agree to <a class="grey-link">Terms &
                                                        Conditions</a></label>
                                            </div>
                                            <div class="button">
                                                <a [routerLink]="['/checkout']"
                                                    class="text-uppercase w-100 secondary-btn">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #emptyCart>
                        <div class="empty-img d-flex flex-column align-items-center justify-content-center">
                            <img src="./assets/messages/empty.png" alt="" width="50%">
                            <p class="mb-5" style="font-size: 25px;">Seu carrinho está vazio!</p>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </main>
</div>