.profile-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}