<div class="container" *ngIf="!loading">
    <div class="box-spinner">
        <div class="spinner"></div>
    </div>
</div>

<div *ngIf="loading">
    <div class="products" *ngIf="products.length > 0; else noProducts">
        <div class="container">
            <!-- <h1 class="lg-title">Special Shoes With Offers</h1> -->

            <div class="product-items">
                <div class="product" *ngFor="let data of products; let idx=index;">
                    <div class="content-box">
                        <div class="box">
                            <div class="my-card">
                                <div class="image">
                                    <img [src]="data.link_photo" alt="">
                                    <div class="label" *ngIf="data.discount > 0"><span>-{{data.discount}}%</span></div>
                                </div>
                                <figcaption>
                                    <button mat-icon-button (click)="addToFavorites(data)">
                                        <mat-icon>star_border</mat-icon>
                                    </button>

                                    <button mat-icon-button [routerLink]="['detail', data.id]">
                                        <mat-icon>visibility</mat-icon>
                                    </button>

                                    <button mat-icon-button (click)="addToCart(data)">
                                        <mat-icon>add_shopping_cart</mat-icon>
                                    </button>
                                </figcaption>
                            </div>
                            <div class="infos">
                                <p class="reccos-title m-0 text-center"> {{ data.name }} </p>
                                <div class="price-product my-3">
                                    <div class="d-flex justify-content-center align-items-center"
                                        *ngIf="data.is_discount; else noDiscount">
                                        <span class="before me-1"> ${{ data.price_product | number: '1.2-2' }} </span>
                                        <span class="current"> ${{ data.price_promo | number: '1.2-2' }} </span>
                                    </div>
                                    <ng-template #noDiscount>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <span class="current"> ${{ data.price_product | number: '1.2-2' }}
                                            </span>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noProducts>
        <div class="d-flex justify-content-center w-100">
            <img class="w-50" src="../../../../assets/messages/no-product-found.png" alt="">
        </div>
    </ng-template>
</div>