<div class="container">
    <div class="wrap">
        <div class="heading">
            <h2 class="tag-title text-center my-5">Novidades</h2>
        </div>
        <div class="inner-wrapper">
            <div class="dotgrid carouselbox">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of caroussel">
                        <ng-template class="slide" carouselSlide [id]="slide.link_photo">
                            <div class="content-box">
                                <div class="my-card">
                                    <div class="image">
                                        <img [src]="slide.link_photo" alt="">
                                    </div>
                                    <figcaption>
                                        <button mat-icon-button [routerLink]="['/product', 'detail', slide.id]">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </figcaption>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>