<div class="container">
    <div class="wrap">
        <div class="heading">
            <h2 class="tag-title text-center my-5">Novidades</h2>
        </div>
        <div class="inner-wrapper">
            <div class="dotgrid carouselbox">
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of caroussel">
                        <ng-template class="slide" carouselSlide [id]="slide.link_photo">
                            <app-thumbail [content]="slide"></app-thumbail>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</div>