<div id="page" class="page-category">
    <main>
        <div class="section">
            <div class="container wide">
                <div class="wrap">
                    <div class="heading d-flex justify-content-center">
                        <h6 class="reccos-title my-4">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                                    <li class="breadcrumb-item">Categorias</li>
                                    <li class="breadcrumb-item active" aria-current="page"> {{ categoryName }} </li>
                                </ol>
                            </nav>
                        </h6>
                    </div>
                    <app-product-by-menu></app-product-by-menu>
                </div>
            </div>
        </div>
    </main>
</div>