<div id="mobile-nav" class="">
    <app-navbar-footer (cartMenuClose)="crtlCartMenu($event)"></app-navbar-footer>
</div>

<nav class="navbar bg-light sticky-top shadow py-3 h-navbar" style="height: auto;">
    <div class="container-fluid  p-3">
        <a class="menu-trigger reccos-cursor" (click)="openMobileMenu()">
            <i class="ri-menu-line"></i>
        </a>

        <a class="navbar-brand" href="#">
            <h4 class="font-weight-bold m-0">
                <i class="icon-title me-2 ri-shopping-cart-line"></i>
                <span class="gradient-title">reccos.shop.com</span>
            </h4>
        </a>

        <div class="search_box  d-lg-block d-sm-none d-none">
            <div class="search">
                <div class="select_area">
                    <i class="ri-box-3-line map_icon"></i>
                    <div class="text">Produtos</div>
                </div>
                <div class="line"></div>
                <div class="text_and-icon">
                    <input type="text" class="search_text" id="search_text" placeholder="Buscar por produtos">
                    <i class="ri-search-line search_icon"></i>
                </div>
            </div>
        </div>

        <div class="list-inline d-lg-block d-sm-none d-none">
            <ul>
                <li><a href=""><span class="reccos-badge"> {{ttl_favorites}} </span>
                        <i class="ri-heart-line"></i>
                    </a>
                </li>
                <li>
                    <a class="reccos-cursor" [routerLink]="['/cart']">
                        <span class="reccos-badge"> {{ itens_cart }} </span>
                        <i class="ri-shopping-cart-2-line"></i>
                    </a>
                </li>
                <li><a href=""><i class="ri-user-line"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid p-2">
        <div class="col-12 col-lg-12 d-lg-block d-sm-none d-none">
            <ul class="d-flex justify-content-center align-items-center space-menu p-0 m-0">
                <li class="item-menu"> <a class="nav-link active" aria-current="page" href="#">Home</a> </li>
                <li class="item-menu"> <a class="nav-link" routerLink="/product">Produtos</a> </li>
                <li class="nav-item dropdown item-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Departamentos </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let depto of menu_depto">
                            <a class="dropdown-item"> {{ depto.name }} </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown item-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Categorias </a>
                    <ul class="dropdown-menu dropdown-cat">
                        <li *ngFor="let cat of menu_cat">
                            <a class="dropdown-item" [routerLink]="['/category']"
                                [queryParams]="{s: cat.name_link, q: cat.id}"> {{ cat.name }} </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown item-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Marcas </a>
                    <ul class="dropdown-menu brand-drop">
                        <li *ngFor="let brand of menu_brand">
                            <a class="dropdown-item px-0" [routerLink]="['/brand']"
                                [queryParams]="{s: brand.name_link, q: brand.id}">
                                <img src="https://www.shutterstock.com/image-vector/image-icon-trendy-flat-style-600nw-643080895.jpg"
                                    alt="" width="15%" height="auto"> {{ brand.name }} </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown position-static item-menu">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Promoções </a>
                    <ul class="dropdown-menu dropdown-promo-menu w-100">
                        <li><app-category-thumbnail [content]="destak_images"></app-category-thumbnail></li>
                    </ul>
                </li>

                <li class="item-menu">
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="mobile-menu" class="mobile-menu" [ngClass]="{'mobile-menu-active': active_mobile}">
    <div class="wrap">
        <app-mobile-menu
            [mobile_menu_cat]="menu_cat"
            [mobile_menu_dpt]="menu_depto"
            [mobile_menu_bnd]="menu_brand"
        ></app-mobile-menu>
    </div>
</div>

<!-- <div id="data-cart" class="cart-menu" [ngClass]="{'active': opened_cart}">
    <div class="wrap">
        <a class="close-trigger" (click)="opened_cart = false;">
            <i class="ri-close-circle-line"></i>
        </a>
        <div class="scrollto cart-outer">
            <div class="wrapper">
                <div class="cart-list">
                    <div class="wrapper">
                        <div class="cart-header">
                            <h2>
                                <span class="red">Shopping </span>
                                <span class="orange">Cart</span>
                            </h2>
                        </div>
                        <div class="cart-body scrollto" *ngIf="products_cart.length > 0; else emptyCart">
                            <div class="product-list">
                                <div class="wrapper">
                                    <ul class="p-0">
                                        <li *ngFor="let cart of products_cart; let idx = index">
                                            <div class="grouping">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button (click)="updateQuantity(true, idx)">+</button>
                                                        <input type="text" [value]="cart.quantity">
                                                        <button (click)="updateQuantity(false, idx)">-</button>
                                                    </div>
                                                </div>
                                                <div class="thumbnail">
                                                    <a href="">
                                                        <img [src]="cart.products.link_photo" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="variants">
                                                <h4 class="dot-title m-0">
                                                    <a href="">{{ cart.products.name }}</a>
                                                </h4>
                                                <div class="color grey-color">
                                                    <span>Color:</span>
                                                    <span>Tosca</span>
                                                </div>
                                                <div class="size grey-color">
                                                    <span>Size:</span>
                                                    <span>L</span>
                                                </div>
                                                <div class="price">$ {{ (cart.products.price_promo *
                                                    cart.quantity).toFixed(2) }}
                                                </div>
                                                <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <ng-template #emptyCart>
                            <div class="empty-img d-flex flex-column align-items-center justify-content-center">
                                <img src="./assets/messages/empty.png" alt="" width="50%">
                                <p class="mb-5" style="font-size: 25px;">Seu carrinho está vazio!</p>
                            </div>
                        </ng-template>
                        <div class="cart-footer">
                            <div class="discount">
                                <form action="">
                                    <input type="text" class="input" placeholder="Cupon">
                                    <input type="submit" class="submit" value="Apply">
                                </form>
                            </div>
                            <div class="math-pricing">
                                <ul class="p-0">
                                    <li>
                                        <span>Subtotal</span>
                                        <span class="value">{{ totalAmount }}</span>
                                    </li>
                                    <ul class="p-0">
                                        <li><span>Shipping</span></li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Free</label>
                                            </div>
                                            <span class="value">$0.00</span>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Flat</label>
                                            </div>
                                            <span class="value">$7.00</span>
                                        </li>
                                    </ul>
                                    <li>
                                        <span>Promo discount</span>
                                        <span class="value">- $0.00</span>
                                    </li>
                                    <li class="total">
                                        <span>Total</span>
                                        <span class="value">$ {{ totalAmount.toFixed(2) }} </span>
                                    </li>
                                </ul>
                            </div>
                            <div class="button" *ngIf="products_cart.length > 0;">
                                <a (click)="goToCheckout('checkout')" class="cursor-pointer secondary-btn">Checkout</a>
                                <a (click)="goToCheckout('cart')" class="cursor-pointer grey-link">View cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->