<div id="mobile-nav" class="">
    <app-navbar-footer (closeFavoritesModal)="closeFavorites($event)"></app-navbar-footer>
</div>

<nav class="navbar bg-light sticky-top shadow h-navbar" style="height: auto;">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100 reccos-padding">
            <div class="visible">
                <img src="./assets/logos_banners/logo.png">
                <a class="menu-trigger reccos-cursor" (click)="active_mobile = !active_mobile; closeModalFilter()">
                    <i class="ri-menu-line"></i>
                </a>
            </div>
            <div class="list-inline d-lg-block d-sm-none d-none">
                <ul>
                    <li class="item-menu"> <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="item-menu"> <a class="nav-link" routerLink="/product">Produtos</a> </li>
                    <li class="nav-item dropdown item-menu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"> Categorias </a>
                        <ul class="dropdown-menu dropdown-cat">
                            <li *ngFor="let cat of menu_cat">
                                <a class="dropdown-item" [routerLink]="['/category']"
                                    [queryParams]="{s: cat.name_link, q: cat.id}"> {{ cat.name }} </a>
                            </li>
                        </ul>
                    </li>
                    <li class="item-menu">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li>
                        <a (click)="oppened_favorites = !oppened_favorites">
                            <span class="reccos-badge"> {{ttl_favorites}} </span>
                            <i class="ri-heart-line"></i>
                        </a>
                    </li>
                    <li>
                        <a class="reccos-cursor" [routerLink]="['/cart']">
                            <span class="reccos-badge"> {{ itens_cart }} </span>
                            <i class="ri-shopping-cart-2-line"></i>
                        </a>
                    </li>
                    <li><a [routerLink]="['/customer']"><i class="ri-user-line"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="mobile-menu" class="mobile-menu" [ngClass]="{'mobile-menu-active': active_mobile}">
    <div class="wrap">
        <app-mobile-menu [mobile_menu_cat]="menu_cat" [mobile_menu_dpt]="menu_depto"
            [mobile_menu_bnd]="menu_brand"></app-mobile-menu>
    </div>
</div>

<div id="data-review" class="data-popup d-favorites" [ngClass]="{'open-favorites': oppened_favorites}">
    <div class="wrap">
        <div class="data-content modal-top">
            <a mat-button class="close-trigger" color="accent" (click)="oppened_favorites = false;"><i
                    class="ri-close-line"></i></a>
            <app-favorites *ngIf="customerLogged"></app-favorites>
            <app-redirect-login *ngIf="!customerLogged"></app-redirect-login>
        </div>
    </div>
</div>