<div id="mobile-nav" class="">
    <app-navbar-footer (cartMenuClose)="crtlCartMenu($event)"></app-navbar-footer>
</div>

<nav class="navbar bg-light" style="height: 75px;">
    <div class="container-fluid">
        <div class="col-12 col-lg-1">
            <div class="menu-bar">
                <a class="menu-trigger reccos-cursor" (click)="openMobileMenu()">
                    <i class="ri-menu-line"></i>
                </a>
            </div>

            <div class="list-inline d-lg-block d-sm-none d-none">
                <ul>
                    <li><a href=""><i class="ri-user-line"></i></a></li>
                    <li><a href=""><span class="reccos-badge"> {{ttl_favorites}} </span>
                            <i class="ri-star-line"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-10 col-lg-10 d-lg-block d-sm-none d-none">
            <ul class="d-flex justify-content-around align-items-center p-0 m-0">
                <li> <a class="nav-link active" aria-current="page" href="#">Home</a> </li>
                <li> <a class="nav-link" routerLink="/product">Produtos</a> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Departamentos </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="reccos-logo">
                    <a routerLink="/" style="z-index: 1000;">
                        <!-- <span class="red">reccos</span>
                        <span class="orange">Shop</span> -->
                        <img src="../../../../assets/logos_banners/logo_01.png" alt="">
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Marcas </a>
                    <ul class="dropdown-menu brand-drop">
                        <li><a class="dropdown-item" routerLink="/product">Hering</a></li>
                        <li><a class="dropdown-item" routerLink="/product">Dulce & Gabana</a></li>
                        <li><a class="dropdown-item" routerLink="/product">Louis Vuitton</a></li>
                        <li><a class="dropdown-item" routerLink="/product">Dior</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> Promoções </a>
                    <ul class="dropdown-menu dropdown-promo-menu w-100">
                        <li><app-thumbail [content]="destak_images"></app-thumbail></li>
                    </ul>
                </li>

                <li>
                    <a class="nav-link" href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="col-1 col-lg-1 d-lg-block d-sm-none d-none">
            <div class="list-inline">
                <ul>
                    <li>
                        <a href="#0" trigger-button data-target="search-float">
                            <i class="ri-search-line"></i>
                        </a>
                    </li>
                    <li>
                        <!-- trigger-button data-target="data-share" -->
                        <a class="reccos-cursor" (click)="openCart()">
                            <span class="reccos-badge"> {{ itens_cart }} </span>
                            <i class="ri-shopping-bag-line"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="mobile-menu" class="mobile-menu" [ngClass]="{'mobile-menu-active': active_mobile}">
    <div class="wrap">
        <nav class="navbar px-3 bg-body-tertiary">
            <div class="d-flex justify-content-between align-items-center w-100 mt-2 title-navbar">
                <img src="../../../../assets/logos_banners/logo_01.png" alt="">
                <a (click)="closeMobileMenu()" class="reccos-cursor">
                    <i class="ri-close-circle-line"></i>
                </a>
            </div>
        </nav>

        <div class="main-menu scrollto">
            <nav class="wrapper">
                <ul>
                    <li><a href=""><span>Home</span></a></li>
                    <li class="has-child">
                        <a href="">
                            <span>Products</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="page-single.html">Adidas</a></li>
                            <li><a href="page-single.html">Channel</a></li>
                            <li><a href="page-single.html">Dulce & Gabana</a></li>
                            <li><a href="page-single.html">Ganni</a></li>
                            <li><a href="page-single.html">Gucci</a></li>
                            <li><a href="page-single.html">Louis Vuitton</a></li>
                            <li><a href="page-single.html">Nike</a></li>
                            <li><a href="page-single.html">Prada</a></li>
                            <li><a href="page-single.html">Puma</a></li>
                            <li><a href="page-single.html">New Ballance</a></li>
                            <li><a href="page-single.html">Olympkus</a></li>
                            <li><a href="page-single.html">Hering</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Discount</span></a></li>
                    <li class="has-child">
                        <a href="">
                            <span>Specials</span>
                            <span class="child-trigger"><i class="ri-arrow-down-s-line"></i></span>
                        </a>
                        <ul class="sub-menu list-block">
                            <li><a href="page-single.html">Adidas</a></li>
                            <li><a href="page-single.html">Channel</a></li>
                            <li><a href="page-single.html">Olympkus</a></li>
                            <li><a href="page-single.html">Hering</a></li>
                        </ul>
                    </li>
                    <li><a href=""><span>Sale</span></a></li>
                </ul>
            </nav>
            <div class="button">
                <a href="" class="secondary-btn">Login</a>
                <a href="" class="primary-btn">Register</a>

            </div>
        </div>
    </div>
</div>

<div id="data-cart" class="cart-menu" [ngClass]="{'active': opened_cart}">
    <div class="wrap">
        <a class="close-trigger" (click)="opened_cart = false;">
            <i class="ri-close-circle-line"></i>
        </a>
        <div class="scrollto cart-outer">
            <div class="wrapper">
                <div class="cart-list">
                    <div class="wrapper">
                        <div class="cart-header">
                            <h2>
                                <span class="red">Shopping </span>
                                <span class="orange">Cart</span>
                            </h2>
                        </div>
                        <div class="cart-body scrollto">
                            <div class="product-list">
                                <div class="wrapper">
                                    <ul class="p-0">
                                        <li>
                                            <div class="grouping">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button>-</button>
                                                        <input type="text" value="1">
                                                        <button>+</button>
                                                    </div>
                                                </div>
                                                <div class="thumbnail">
                                                    <a href="">
                                                        <img src="assets/product_01.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="variants">
                                                <h4 class="dot-title m-0">
                                                    <a href="">The Sweter in Tosca</a>
                                                </h4>
                                                <div class="color grey-color">
                                                    <span>Color:</span>
                                                    <span>Tosca</span>
                                                </div>
                                                <div class="size grey-color">
                                                    <span>Size:</span>
                                                    <span>L</span>
                                                </div>
                                                <div class="price">$45.00</div>
                                                <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="grouping">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button>-</button>
                                                        <input type="text" value="1">
                                                        <button>+</button>
                                                    </div>
                                                </div>
                                                <div class="thumbnail">
                                                    <a href="">
                                                        <img src="assets/product_02.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="variants">
                                                <h4 class="dot-title m-0">
                                                    <a href="">Ocean Blue LLC2</a>
                                                </h4>
                                                <div class="color grey-color">
                                                    <span>Color:</span>
                                                    <span>Ocean</span>
                                                </div>
                                                <div class="size grey-color">
                                                    <span>Size:</span>
                                                    <span>L</span>
                                                </div>
                                                <div class="price">$57.00</div>
                                                <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="grouping">
                                                <div class="quantity">
                                                    <div class="control">
                                                        <button>-</button>
                                                        <input type="text" value="1">
                                                        <button>+</button>
                                                    </div>
                                                </div>
                                                <div class="thumbnail">
                                                    <a href="">
                                                        <img src="assets/product_08.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="variants">
                                                <h4 class="dot-title m-0">
                                                    <a href="">Solid Pink Gio</a>
                                                </h4>
                                                <div class="color grey-color">
                                                    <span>Color:</span>
                                                    <span>Pink</span>
                                                </div>
                                                <div class="size grey-color">
                                                    <span>Size:</span>
                                                    <span>L</span>
                                                </div>
                                                <div class="price">$145.00</div>
                                                <a href="" class="item-remove"><i class="ri-close-line"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cart-footer">
                            <div class="discount">
                                <form action="">
                                    <input type="text" class="input" placeholder="Cupon">
                                    <input type="submit" class="submit" value="Apply">
                                </form>
                            </div>
                            <div class="math-pricing">
                                <ul class="p-0">
                                    <li>
                                        <span>Subtotal</span>
                                        <span class="value"></span>
                                    </li>
                                    <ul class="p-0">
                                        <li><span>Shipping</span></li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Free</label>
                                            </div>
                                            <span class="value">$0.00</span>
                                        </li>
                                        <li>
                                            <div>
                                                <input type="radio" class="checker" name="shipping">
                                                <label for="">Flat</label>
                                            </div>
                                            <span class="value">$7.00</span>
                                        </li>
                                    </ul>
                                    <li>
                                        <span>Promo discount</span>
                                        <span class="value">- $0.00</span>
                                    </li>
                                    <li class="total">
                                        <span>Total</span>
                                        <span class="value">$147.00</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="button">
                                <a href="" class="secondary-btn">Checkout</a>
                                <a href="" class="grey-link">View cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>