<div class="content-box">
    <div class="my-card">
        <div class="image">
            <img [src]="content.link_photo" alt="">
        </div>
        <figcaption>
            <figcaption>
                <button mat-icon-button>
                    <mat-icon>star_border</mat-icon>
                </button>

                <button mat-icon-button [routerLink]="['/product', 'detail', content.id]">
                    <mat-icon>visibility</mat-icon>
                </button>

                <button mat-icon-button (click)="addToCartStorage(content)">
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </figcaption>
        </figcaption>
    </div>
    <div class="infos">
        <p class="reccos-title my-2 text-center"> {{ content.name }} </p>
        <div class="price-product text-center">
            <span class="before" *ngIf="content.discount > 0"> ${{ content.price_product
                | number: '1.2-2'
                }} </span>
            <span class="current"> ${{ content.price_promo | number:
                '1.2-2' }} </span>
        </div>
    </div>
</div>