<div class="container mt-4">
    <div class="details">
        <h3 style="font-size: 30px;">The Sweater in Tosca</h3>
        <div class="grey-color">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis in
                soluta quisquam enim totam atque dolorem saepe?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
                error obcaecati, illo harum commodi perspiciatis eligendi distinctio
                illum fuga molestias id numquam praesentium, asperiores deleniti ipsam
                rerum sed saepe inventore.</p>
        </div>
        <div class="dotgrid">
            <div class="wrapper">
                <div class="list-block">
                    <h4>What is this?</h4>
                    <ul class="grey-color p-0">
                        <li>95% Polyester, 5% Spandex</li>
                        <li>Wrap closure</li>
                        <li>hand Wash Only</li>
                        <li>Simple yet flatering dress</li>
                    </ul>
                </div>
                <div class="list-block">
                    <h4>What makes our products unique?</h4>
                    <p class="grey-color">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                        Incidunt hic obcaecati quasi ea dolorum autem architecto enim!
                        Obcaecati ipsam. Quisquam.
                    </p>
                </div>
                <div class="list-block">
                    <h4>What makes our products unique?</h4>
                    <p class="grey-color">
                        Hand wash or gentle machine wash with cold water.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>