<footer>
    <div class="inner-footer pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-md-0">
                    <h2 class="title">Newsletter</h2>
                    <p class="grey-color">Digite seu e-mail abaixo para ser o primeiro a saber sobre novas coleções e
                        produtos</p>
                    <form action="" class="search">
                        <i class="ri-mail-line"></i>
                        <input type="text" class="input" placeholder="Informe seu e-mail" id="email">
                        <input type="submit" class="submit" />
                        <i class="ri-arrow-right-line"></i>
                    </form>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <div class="subscribe">
                        <h3 class="dot-title">Serviços</h3>
                        <ul>
                            <li><a href="">Sobre nós</a></li>
                            <li><a href="">Políticas de envio</a></li>
                            <li><a href="">Termos & Condições</a></li>
                            <li><a href="">Política de Privacidade</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <h3 class="dot-title">Páginas/Link's</h3>
                    <ul>
                        <li><a href="">Minha conta</a></li>
                        <li><a href="">Minhas compras</a></li>
                        <li><a href="">Avise quando chegar</a></li>
                        <li><a href="">Carrinho</a></li>
                        <li><a href="">Blog</a></li>
                    </ul>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <h3 class="dot-title">Contatos</h3>
                    <div class="comp-address grey-color">
                        <p style="line-height: 1.5;">
                            <i class="ri-map-pin-line"></i> Batatais, São Paulo, Brasil
                            <a class="p-0" href=""><i class="ri-whatsapp-line"></i> +55 (16) 99100-8358</a><br>
                            <a class="p-0" href="mailto:contato-rsf@admin.com?subject=Contato"><i
                                    class="ri-mail-send-line"></i> contato-rsf@admin.com</a>
                        </p>
                        <p class="d-flex justify-content-around social-media">
                            <a href=""><i class="ri-instagram-line"></i></a>
                            <a href=""><i class="ri-facebook-line"></i></a>
                            <a href=""><i class="ri-messenger-line"></i></a>
                            <a href=""><i class="ri-tiktok-line"></i></a>
                            <a href=""><i class="ri-twitter-x-line"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>