@import '../../../../assets/styles/variables';

h3,
a:hover {
    font-weight: 600;
}

.title {
    font-family: 'Prata', serif;
    font-size: 35px;
    --fw600: 400;
    margin-top: 15px;
}

.inner-footer {
    padding: 2rem 0;
}

.newsletter {
    width: 75%;
}

.news__btn {
    border: none;
    outline: none;
    background: transparent;
    // background-color: hsl(248, 66%, 66%);
    background-color: $primary-color;
    padding: 18px 15px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .inner-footer {
        padding: 2rem 0 2.8rem 0;
    }
}