<footer>
    <div class="inner-footer pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 mb-4 mb-md-0">
                    <h2 class="title">Get voucher from us</h2>
                    <p class="grey-color">Enter your email below to be the first to know about new collctions and
                        products lanches</p>
                    <form action="" class="search">
                        <i class="ri-mail-line"></i>
                        <input type="text" class="input" placeholder="Enter your email" id="">
                        <input type="submit" class="submit" />
                        <i class="ri-arrow-right-line"></i>
                    </form>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <div class="subscribe">
                        <h3 class="dot-title">Service</h3>
                        <ul>
                            <li><a href="">About us</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Delivery Information</a></li>
                            <li><a href="">Terms & Condition</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <h3 class="dot-title">Pages</h3>
                    <ul>
                        <li><a href="">My Account</a></li>
                        <li><a href="">Login</a></li>
                        <li><a href="">Wishlist</a></li>
                        <li><a href="">Carts</a></li>
                        <li><a href="">Checkout</a></li>
                    </ul>
                </div>

                <div class="col-4 col-lg-2 list-block">
                    <h3 class="dot-title">Service</h3>
                    <div class="comp-address grey-color">
                        <p>Simpang 5 no.1<br>Central Java - ID</p>
                        <p>
                            <a class="p-0" href="">+55 (16) 99100-835</a>8<br>
                            <a class="p-0" href="">aledguedes@gmai</a>l.com
                        </p>
                        <p>
                            Weekdays: 8:00 às 18:00<br>
                            Saturday: 8:00 às 12:00<br>
                            Sunday: Closed
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>