h3 {
    font-size: 30px;
}

.rating-stars i {
    color: #c6c6c6;
}

.box-comment:not(:last-child) {
    border-bottom: 1px solid #c6c6c6;
}

.data-popup {
    z-index: 2001;
    pointer-events: none;
}

.open-modal {
    display: block;
}

.product-review {
    max-width: 980px;
    margin: 0 auto;
}

.rating-review .rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--ligth-color);
    padding: 20px 0;
}

.rating-review .rating strong {
    font-size: 50px;
}

.rating-review .rating span {
    position: relative;
    padding-left: 20px;
}

.product-review p {
    font-size: 15px;
    line-height: 1.5;
}

// MODAL BOOTSTRAP

.modal-backdrop {
    --bs-backdrop-opacity: 0 !important;
}