<div class="product-review">
    <h3>Rating & Review</h3>
    <div class="head-review">
        <div class="sum-rating">
            <strong>4.8</strong>
            <span>3 reviews</span>
        </div>
        <div class="button">
            <!-- <a (click)="openDialog()" class="primary-btn" trigger-button data-target="data-review">Whrite a review</a> -->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalReview">
                Whrite a review
            </button>
        </div>
    </div>
    <div class="body-review">
        <div class="profile">
            <div class="thumb-name">
                <div class="image">
                    <img src="./assets/images/ig_01.jpg" alt="">
                </div>
                <div class="grouping">
                    <div class="name">Sara</div>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="date grey-color">On October 29, 2023</div>
                </div>
            </div>
            <div class="comment">
                <strong>Awesome Product</strong>
                <p class="grey-color">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Distinctio dolorem vero perferendis magnam
                    accusantium, ex velit, ipsa qui voluptatum suscipit commodi nemo
                    odio sequi aspernatur numquam fugiat corporis perspiciatis.
                    Quisquam.</p>
            </div>
        </div>
    </div>

    <div class="body-review">
        <div class="profile">
            <div class="thumb-name">
                <div class="image">
                    <img src="./assets/images/ig_02.jpg" alt="">
                </div>
                <div class="grouping">
                    <div class="name">Oolonéia</div>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="date grey-color">On October 29, 2023</div>
                </div>
            </div>
            <div class="comment">
                <strong>Awesome Product</strong>
                <p class="grey-color">Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Quo blanditiis placeat sed repellat, vitae
                    possimus aperiam odit nostrum eius at, est distinctio nesciunt
                    reiciendis architecto molestias labore similique sunt ducimus?
                </p>
            </div>
        </div>
    </div>

    <div class="body-review">
        <div class="profile">
            <div class="thumb-name">
                <div class="image">
                    <img src="./assets/images/ig_03.jpg" alt="">
                </div>
                <div class="grouping">
                    <div class="name">Micalatéia</div>
                    <div class="rating">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                    <div class="date grey-color">On October 29, 2023</div>
                </div>
            </div>
            <div class="comment">
                <strong>Awesome Product</strong>
                <p class="grey-color">Lorem ipsum dolor sit, amet consectetur
                    adipisicing elit. Expedita, dolores, mollitia dolore qui quidem
                    dolorem similique, deleniti recusandae harum eius ea nam
                    facilis! Enim, neque eum maxime at perspiciatis nihil.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReview" tabindex="-1" aria-labelledby="modalReviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalReviewLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>