.image-custom img {
    max-width: 100%;
    vertical-align: middle;
}

.custom-h3 {
    font-size: 50px;
    font-weight: var(--fw600);
    text-align: center;
    color: var(--ligth-color);
}

.box-product {
    padding: 25px 0;
}