<div class="container">
    <div class="wrap">
        <div class="heading">
            <div class="h2 tag-title text-center my-3">Em destaque</div>
        </div>
        <div class="dotgrid scrollto">
            <div class="wrapper">
                <div class="item" *ngFor="let d of highlights">
                    <div class="dot-image">
                        <div class="thumbnail hover">
                            <img [src]="d.link_photo" alt="">
                        </div>
                    </div>
                    <div class="dot-info">
                        <h3 class="title-section"> {{ d.title }} </h3>
                        <p class="grey-color"> {{ d.description }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>