<div class="container">
    <div class="wrap">
        <div class="heading">
            <div class="h2 tag-title text-center my-3">Em destaque</div>
        </div>
        <div class="dotgrid scrollto">
            <div class="wrapper">
                <div class="item">
                    <div class="dot-image">
                        <div class="thumbnail hover">
                            <img src="assets/images/guide_01.png" alt="">
                        </div>
                    </div>
                    <div class="dot-info">
                        <h3 class="dot-title">The Blue Ocean MX</h3>
                        <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Amet, nihil?</p>
                    </div>
                </div>
                <div class="item">
                    <div class="dot-image">
                        <div class="thumbnail hover">
                            <img src="assets/images/guide_02.png" alt="">
                        </div>
                    </div>
                    <div class="dot-info">
                        <h3 class="dot-title">The Blue Ocean MX</h3>
                        <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Amet, nihil?</p>
                    </div>
                </div>
                <div class="item">
                    <div class="dot-image">
                        <div class="thumbnail hover">
                            <img src="assets/images/guide_03.png" alt="">
                        </div>
                    </div>
                    <div class="dot-info">
                        <h3 class="dot-title">The Blue Ocean MX</h3>
                        <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Amet, nihil?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>