<div class="container mt-4">
    <div class="grey-color">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem sunt quia
            magni, suscipit tenetur ducimus delectus dolorum explicabo non maxime et
            necessitatibus repellat voluptatem minima rerum est, repudiandae quas
            veritatis.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et beatae vel autem
            laborum, fuga consequuntur minus sed nulla reprehenderit error vero corrupti
            similique rerum alias molestias deleniti libero voluptatum impedit.</p>
    </div>
</div>