<div id="page" class="page-home">
    <main>
        <!-- <div class="tag-promotions bg-dark w-100 text-white">
            <p class="m-0 text-center ">Descontos em todos os nossos departamentos! Ofertas por tempo limitado!!!
                <a class="link-shop" [routerLink]="['/product']">Confira!</a>
            </p>
        </div> -->

        <section class="home">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button *ngFor="let url of carouselMock; let i = index" type="button" [attr.data-bs-slide-to]="i"
                        [ngClass]="{'active': i === 0}" data-bs-target="#carouselExampleCaptions" aria-current="true">
                    </button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item banner-carousel" [ngClass]="{'active': i === 0}"
                        [style.background-image]="'url(' + url.links +')'" data-bs-interval="6000"
                        *ngFor="let url of carouselMock; let i = index">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <!-- carousel marcas -->
        <div class="container box my-4">
            <app-default-carousel></app-default-carousel>
        </div>

        <!-- em destaque -->
        <div class="guide pt-3">
            <app-highlighted></app-highlighted>
        </div>

        <!-- carousel Novidades -->
        <div class="carousel">
            <app-arrivals></app-arrivals>
        </div>

        <div class="bycats mb-5">
            <div class="container">
                <div class="dotgrid">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab *ngFor="let p of productsByTag" [label]="p.nameTag.toUpperCase()">
                            <div class="d-flex justify-content-around">
                                <app-category-thumbnail [content]="p.products"></app-category-thumbnail>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="container" style="height: 100%;">
                <div class="wrap d-flex flex-column justify-content-center ms-lg-4">
                    <div class="content span">Promoção</div>
                    <h2>Getready! <br> Winter is <span class="text-white">comming...</span></h2>
                    <div class="button"><a href="" class="primary-btn">Go get it</a></div>
                </div>
            </div>
        </div>

        <!-- <app-colections></app-colections> -->

        <div class="container">
            <div class="grid center">
                <div class="box">
                    <i class="ri-car-fill"></i>
                    <div class="d-flex flex-column">
                        <strong>Entregas Rápidas e frete grátis</strong>
                        <small>Num raio de 300km</small>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-money-dollar-box-line"></i>
                    <div class="d-flex flex-column">
                        <strong>Garantia devolução de dinheiro</strong>
                        <small>Em até 7 dias</small>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-customer-service-2-line"></i>
                    <div class="d-flex flex-column">
                        <strong>Suporte on-line 24 horas</strong>
                        <small>7 dias por semana</small>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-secure-payment-fill"></i>
                    <div class="d-flex flex-column">
                        <strong>Pagamento Seguro</strong>
                        <small>Pagamento 100% seguro</small>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>