@import '../../../../assets/styles/product-colections';
@import '../../../../assets/styles/carrossel';

$carousel-height: 160px;

p {
    margin: 24px;
}

.box-image {
    position: relative;
    overflow: hidden;
}

.box-image .thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.box-image .actions {
    font-size: 20px;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.box-image:hover .actions {
    opacity: 1;
    transform: translateY(-30%) translateX(-50%);
    z-index: 1;
}

.banner {
    background-color: var(--ligth-color);
    background-image: url(../../../../assets/images/collections/collection_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-origin: border-box;
    height: 350px;
    padding: 50px 0;
}

.banner .wrap {
    height: 100%;
    left: 75%;
}

.banner h3 {
    font-size: 40px;
}

.banner h2 {
    font-size: 50px;
    line-height: 1;
}

.show {
    display: block;
}

.select-style li {
    font-size: 16px;
}

.title {
    font-family: 'Prata', serif;
    font-size: 35px;
    --fw600: 400;
    margin-top: 15px;
}

// .carousel-box-image {
//     height: calc(100vh - 170px);
// }

// .carousel-box-image .carousel-image {
//     width: 100%;
//     height: 100%;
//     object-fit: fill;
// }

.animated {
    -webkit-animation-duration: 1000 ms;
    animation-duration: 1000 ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.owl-animated-out {
    z-index: 1
}

.owl-animated-in {
    z-index: 0
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px 0;
    gap: 20px;
}

.grid .box {
    display: flex;
    align-items: center;
    padding: 15px;
}

.grid .box i {
    font-size: 35px;
    padding: 10px;
    color: $primary-color;
}

.grid .box strong {
    font-size: 12px;
}

@media screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-content: space-between;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }

    .center {
        justify-content: center;
    }
}