<div id="page" class="page-home">
    <main>
        <div id="carouselExampleCaptions" class="carousel slide">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let carousel of carousel; let idx = index"
                    [ngClass]="{'active': idx == 0 }">
                    <img [src]="carousel.img" alt="">
                    <div class="carousel-caption d-none d-md-block">
                        <p>
                            <span>{{ '$'+carousel.price }}</span>
                        </p>
                        <p> <strong>{{ carousel.title }}</strong> </p>
                        <div class="button"><a href="" class="primary-btn">Shop Now</a></div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- guide -->
        <div class="guide pt-3">
            <div class="container">
                <div class="wrap">
                    <div class="heading">
                        <div class="h2 title my-3">Products Guide</div>
                    </div>
                    <div class="dotgrid scrollto">
                        <div class="wrapper">
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <img src="assets/images/guide_01.png" alt="">
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <h3 class="dot-title">The Blue Ocean MX</h3>
                                    <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Amet, nihil?</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <img src="assets/images/guide_02.png" alt="">
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <h3 class="dot-title">The Blue Ocean MX</h3>
                                    <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Amet, nihil?</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <img src="assets/images/guide_03.png" alt="">
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <h3 class="dot-title">The Blue Ocean MX</h3>
                                    <p class="grey-color">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        Amet, nihil?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- carousel -->
        <div class="carousel">
            <div class="container">
                <div class="wrap">
                    <div class="heading">
                        <h2 class="title my-5">New Arrivals</h2>
                    </div>
                    <div class="inner-wrapper">
                        <div class="dotgrid carouselbox swiper">
                            <owl-carousel-o [options]="customOptions">
                                <ng-container *ngFor="let slide of shirtProducts">
                                    <ng-template class="slide" carouselSlide [id]="slide.img">
                                        <div class="dot-image">
                                            <a href="" class="product-permalink"></a>
                                            <div class="thumbnail">
                                                <img [src]="slide.img" [alt]="slide.id" [title]="slide.id">
                                            </div>
                                            <div class="actions">
                                                <ul>
                                                    <li><a href=""><i class="ri-star-line"></i></a></li>
                                                    <li><a href=""><i class="ri-arrow-left-right-line"></i></a></li>
                                                    <li><a href=""><i class="ri-eye-line"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="label"><span>-25%</span></div>
                                            <div class="dot-info">
                                                <h2 class="dot-title"><a href="">The Swater
                                                        in Tosca</a></h2>
                                                <div class="product-price">
                                                    <span class="before">$62.00</span>
                                                    <span class="current">$45.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bycats mb-5">
            <div class="container">
                <div class="dotgrid">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab label="Sweater">
                            <div class="d-flex justify-content-around">
                                <app-thumbail [content]="sweaterProduct"></app-thumbail>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hoddie">
                            <div class="d-flex justify-content-around">
                                <app-thumbail [content]="hoddieProducts"></app-thumbail>
                            </div>
                        </mat-tab>
                        <mat-tab label="Shirt">
                            <div class="d-flex justify-content-around">
                                <app-thumbail [content]="shirtProducts"></app-thumbail>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="container" style="height: 100%;">
                <div class="wrap d-flex flex-column justify-content-center ms-lg-4">
                    <div class="content span">Promo</div>
                    <h2>Getready! <br> Winter is <span class="text-white">comming...</span></h2>
                    <div class="button"><a href="" class="primary-btn">Go get it</a></div>
                </div>
            </div>
        </div>

        <div class="fromblog">
            <div class="container">
                <div class="wrap">
                    <div class="heading">
                        <h2 class="title my-5">From the blog</h2>
                    </div>
                    <div class="dotgrid scrollto">
                        <div class="wrapper">
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="">
                                            <img src="assets/images/blog_01.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="">Hoodie</a>
                                    <h3 class="dot-title">
                                        <a href="">Lorem ipsum dolor sit amet consectetur?</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="">
                                            <img src="assets/images/blog_03.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="">Hoodie</a>
                                    <h3 class="dot-title">
                                        <a href="">Amet consectetur adipisicing elit adipisicing elit!</a>
                                    </h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="dot-image">
                                    <div class="thumbnail hover">
                                        <a href="">
                                            <img src="assets/images/blog_02.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="dot-info">
                                    <a href="">Hoodie</a>
                                    <h3 class="dot-title">
                                        <a href="">Amet consectetur adipisicing elit!</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <a href="" class="secondary-btn">Read more!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="frominsta mb-3">
            <div class="container wide">
                <div class="wrap">
                    <div class="heading">
                        <h2 class="title my-5">Popular Instagram Photos</h2>
                    </div>
                    <div class="row">
                        <div class="col box-image" *ngFor="let a of insta_photos">
                            <div class="thumbnail">
                                <img [src]="a.img" alt="">
                            </div>
                            <div class="actions">
                                <i class="ri-instagram-line"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>