<div id="page" class="page-home">
    <main>
        <section class="carousel-banners">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of carousel">
                    <ng-template class="slide" carouselSlide [id]="slide.link_photo">
                        <div class="caurousel-box-image">
                            <img class="carousel-image" [src]="slide.link_photo" alt="">
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </section>

        <!-- guide -->
        <div class="guide pt-3">
            <app-highlighted></app-highlighted>
        </div>

        <!-- carousel -->
        <div class="carousel">
            <app-arrivals></app-arrivals>
        </div>

        <div class="bycats mb-5">
            <div class="container">
                <div class="dotgrid">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab label="Sweater">
                            <div class="d-flex justify-content-around">
                                <app-category-thumbnail [content]="sweaterProduct"></app-category-thumbnail>
                            </div>
                        </mat-tab>
                        <mat-tab label="Hoddie">
                            <div class="d-flex justify-content-around">
                                <app-category-thumbnail [content]="hoddieProducts"></app-category-thumbnail>
                            </div>
                        </mat-tab>
                        <mat-tab label="Shirt">
                            <div class="d-flex justify-content-around">
                                <app-category-thumbnail [content]="shirtProducts"></app-category-thumbnail>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>

        <div class="banner">
            <div class="container" style="height: 100%;">
                <div class="wrap d-flex flex-column justify-content-center ms-lg-4">
                    <div class="content span">Promo</div>
                    <h2>Getready! <br> Winter is <span class="text-white">comming...</span></h2>
                    <div class="button"><a href="" class="primary-btn">Go get it</a></div>
                </div>
            </div>
        </div>

        <app-colections></app-colections>
    </main>
</div>