@import '../../../../assets/styles/product-colections';

.carousel-caption {
    padding-bottom: 4rem;
    margin: 0;
}

.carousel-caption p:first-child span {
    padding: 15px 8px;
    border-radius: 50%;
    font-size: 25px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

p {
    margin: 24px;
}

.box-image {
    position: relative;
    overflow: hidden;
}

.box-image .thumbnail img {
    width: 100%;
    height: auto;
    display: block;
}

.box-image .actions {
    font-size: 20px;
    width: 50px;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.box-image:hover .actions {
    opacity: 1;
    transform: translateY(-30%) translateX(-50%);
    z-index: 1;
}

.banner {
    background-color: var(--ligth-color);
    background-image: url(../../../../assets/images/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-origin: border-box;
    height: 350px;
    padding: 50px 0;
}

.banner .wrap {
    height: 100%;
    left: 75%;
}

.banner h3 {
    font-size: 40px;
}

.banner h2 {
    font-size: 50px;
    line-height: 1;
}

.carousel-teste .owl-next, .carousel-teste .owl-prev {
    background-color: transparent;
    color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.owl-theme .owl-nav [class*=owl-] {
    background: greenyellow;
}

.show {
    display: block;
}

.select-style li {
    font-size: 16px;
}

.title {
    font-family: 'Prata', serif;
    font-size: 35px;
    --fw600: 400;
    margin-top: 15px;
}
