.carousel-item,
.carousel-inner {
    height: 100vh;
}

.carousel-item {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

// .home .carousel-item {
//     min-height: calc(100vh - 150px);
// }
// .carousel-inner {
//     height: 0;
//     padding-bottom: 25%;
// }

// .carousel-item {
//     position: absolute !important;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     width: 100%;
// }

// .home .carousel-item::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     background-color: rgba(0, 0, 0, .5);
// }

// .home .carousel-item img {
//     height: 100%;
//     object-fit: cover;
// }

// .home .carousel-item .container {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
// }

// .home .carousel-item h2 {
//     font-size: 80px;
//     color: #FFF;
//     margin: 0 0 10px;
// }

// .home .carousel-item p {
//     font-size: 30px;
//     margin: 0;
//     color: #eeeeee;
// }

// .home .carousel-item.active h2 {
//     animation: fadeInLeft 0.5s ease forwards;
// }

// .home .carousel-item.active p {
//     animation: fadeInRigth 0.5s ease forwards;
// }

// @keyframes fadeInLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(-30px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

// @keyframes fadeInRigth {
//     0% {
//         opacity: 0;
//         transform: translateX(30px);
//     }

//     100% {
//         opacity: 1;
//         transform: translateX(0px);
//     }
// }

// @media screen and (max-width: 575px) {
//     .carousel-inner {
//         padding-bottom: 75%;
//     }
// }

// @media (max-width: 767px) {

//     .home .carousel-control-next,
//     .home .carousel-control-prev {
//         display: none;
//     }

//     .carousel-inner {
//         padding-bottom: 50%;
//     }

//     .home .carousel-item {
//         // width: 50%;
//         object-fit: contain;
//     }

//     .home .carousel-item h2 {
//         font-size: 45px;
//     }

//     .home .carousel-item p {
//         font-size: 18px;
//     }
// }