<div class="row">
    <div class="col-6">
        <img src="../../../../assets/logos_banners/login.svg">
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
        <h1 class="reccos-sub-title text-center">Área Restrita</h1>
        <h3 class="text-start">
            Para acessar esta página, por favor, faça o login na sua conta. Se você ainda não tem uma conta,
            registre-se agora. Obrigado!
        </h3>
        <div class="button">
            <button class="secondary-btn" (click)="toLogin()">Login
                <i class="ri-login-circle-line ms-2"></i>
            </button>
        </div>
    </div>
</div>