<div class="container">
    <h1 class="reccos-title text-center my-4">Checkout</h1>
    <div class="row mb-2" style="--bs-gap: .25rem 1rem;">
        <div class="col-7">
            <h2 class="reccos-sub-title mt-3">Billing detais</h2>
            <app-customer-form [customer]="customer"></app-customer-form>
        </div>
        <div class="col-5 p-0">
            <h2 class="reccos-sub-title mt-3">Order Summary</h2>
            <div class="product-list">
                <div class="box-products">
                    <ul>
                        <li *ngFor="let c of checkout; let idx = index">
                            <div class="grouping">
                                <div class="thumbnail ob-cover">
                                    <span class="item-floating">XL</span>
                                    <img [src]="c.product.link_photo" alt="">
                                </div>
                            </div>
                            <div class="variants">
                                <h4 class="dot-title m-0">
                                    <a href="">{{ c.product.name }}</a>
                                </h4>
                                <div class="color grey-color">
                                    <span><strong>Color</strong>:</span>
                                    <span>GREEN</span>
                                </div>
                                <div class="size grey-color">
                                    <span><strong>Size</strong>:</span>
                                    <span>SIZE</span>
                                </div>
                                <div class="price-item">
                                    <span>${{ c.amount.toFixed(2) }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="total-summary py-5">
                <div class="box-checkout m-auto">
                    <div class="payment-options list-inline">
                        <span>Forma de pagamento *</span>
                        <ul>
                            <li *ngFor="let pg of radioPayment; let idx = index">
                                <input type="radio" name="pay-option" [id]="pg.value" [value]="pg.value"
                                    [checked]="pg.check" (change)="paymentMode(pg.value)">
                                <label [for]="pg.value"><i [class]="pg.icon"></i></label>
                            </li>
                        </ul>
                    </div>
                    <div class="discount mb-3">
                        <form [formGroup]="formCupom">
                            <input #cpm formControlName="discount" type="text" class="input" placeholder="Coupon">
                            <a mat-button class="submit px-3" [disabled]="formCupom.invalid || !blockApplyBtn"
                                (click)="checkCupon(formCupom.value.discount)">Aplicar</a>
                        </form>
                        <div *ngIf="!blockApplyBtn" class="text-end remove-cupom"><a
                                (click)="removeCupom(cpm.value)">remover cupom</a></div>

                        <div *ngIf="errorApplyCoupon" class="text-end remove-cupom"><a (click)="removeCupom(cpm.value)">
                                {{errorApplyCouponMsg}} </a></div>
                    </div>
                    <div class="math-pricing">
                        <ul>
                            <li class="pricing-item">
                                <span>Subtotal</span>
                                <span class="value">{{ totalAmount() | currency }} </span>
                            </li>
                            <li>
                                <p class="pricing-item">
                                    <span>Envio *</span>
                                    <span class="value">{{ s_delivery() | currency }}</span>
                                </p>
                                <form [formGroup]="cepForm" class="d-flex">
                                    <div class="discount w-75" style="background-color: #FFF;">
                                        <input formControlName="cep" class="input" type="text" id="surname" placeholder="Informe seu cep">
                                    </div>
                                    <div class="button">
                                        <button class="primary-btn ms-3" (click)="calcularFrete(cepForm.value.cep)">Calcular</button>
                                    </div>
                                </form>
                                <div class="delivery-options mt-3">
                                    <div class="d-flex justify-content-between align-items-center my-1"
                                        *ngFor="let option of delivery; let idx = index"
                                        [class.selected]="option.selected" (click)="onOptionChange(option.id)">
                                        <p class="m-0 d-flex flex-column">
                                            <span>{{ option.name }}</span>
                                            <span class="text-time">{{ option.time + ' dias úteis' }}</span>
                                        </p>
                                        <span>{{ option.price | currency }}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="pricing-item">
                                <span>Cupom/Descontos</span>
                                <span class="value">{{ cupom() | currency }}</span>
                            </li>
                            <li class="total pricing-item">
                                <span>Total</span>
                                <span class="value">{{ finaly_valuet() | currency }} </span>
                            </li>
                        </ul>
                        <form [formGroup]="commentsForm">
                            <div class="check-comment">
                                <div class="add-note">
                                    <textarea formControlName="comments" class="w-100" rows="3"
                                        placeholder="Observações +"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="button mt-2">
                        <a [ngClass]="{'disabled': !checkPayment || !checkDelivery || !checkForm }"
                            (click)="createOrder()" class="btn btn-secondary w-100 text-center">Finalizar compra</a>
                        <mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>

                    </div>
                    <div class="text-end remove-cupom"><small>Campos com <strong class="text-danger">*</strong> são
                            obrigatórios!</small></div>
                </div>
            </div>
        </div>
    </div>
</div>