<div class="container">
    <h1 class="reccos-title text-center my-4">Checkout</h1>
    <div class="row mb-2" style="--bs-gap: .25rem 1rem;">
        <div class="col-7">
            <h2 class="reccos-sub-title mt-3">Billing detais</h2>
            <app-customer-form [customer]="customer"></app-customer-form>
        </div>
        <div class="col-5 p-0">
            <h2 class="reccos-sub-title mt-3">Order Summary</h2>
            <div class="product-list">
                <div class="box-products">
                    <ul>
                        <li *ngFor="let c of checkout; let idx = index">
                            <div class="grouping">
                                <div class="thumbnail ob-cover">
                                    <span class="item-floating">XL</span>
                                    <img [src]="c.product.link_photo" alt="">
                                </div>
                            </div>
                            <div class="variants">
                                <h4 class="dot-title m-0">
                                    <a href="">{{ c.product.name }}</a>
                                </h4>
                                <div class="color grey-color">
                                    <span><strong>Color</strong>:</span>
                                    <span>GREEN</span>
                                </div>
                                <div class="size grey-color">
                                    <span><strong>Size</strong>:</span>
                                    <span>SIZE</span>
                                </div>
                                <div class="price-item">
                                    <span>${{ c.amount.toFixed(2) }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="total-summary py-5">
                <div class="box-checkout m-auto">
                    <div class="payment-options list-inline">
                        <span>Forma de pagamento</span>
                        <ul>
                            <li *ngFor="let pg of radioPayment">
                                <input type="radio" name="pay-option" [id]="pg.value" [(ngModel)]="payment">
                                <label [for]="pg.value"><i [class]="pg.icon"></i></label>
                            </li>
                        </ul>
                    </div>
                    <div class="discount">
                        <form action="">
                            <input type="text" class="input" placeholder="Coupon">
                            <input type="submit" class="submit" placeholder="Apply">
                        </form>
                    </div>
                    <div class="math-pricing">
                        <ul>
                            <li class="pricing-item">
                                <span>Subtotal</span>
                                <span class="value">{{ totalAmount() | currency }} </span>
                            </li>
                            <li class="pricing-item">
                                <span>Taxa</span>
                                <span class="value">{{tax | currency }}</span>
                            </li>
                            <li>
                                <ul>
                                    <li>Envio</li>
                                    <li class="pricing-item">
                                        <div>
                                            <input type="radio" class="checker">
                                            <label>Grátis</label>
                                        </div>
                                        <span class="value">$ {{free | number: '1.2-2' }}</span>
                                    </li>

                                    <li class="pricing-item">
                                        <div>
                                            <input type="radio" class="checker">
                                            <label>Envio</label>
                                        </div>
                                        <span class="value">$ {{flat | number: '1.2-2' }}</span>
                                    </li>
                                </ul>
                            </li>
                            <li class="pricing-item">
                                <span>Cupom/Descontos</span>
                                <span class="value">$ {{cupom | number: '1.2-2' }}</span>
                            </li>
                            <li class="total pricing-item">
                                <span>Total</span>
                                <span class="value">$ {{finaly_valuet() | number: '1.2-2' }} </span>
                            </li>
                        </ul>
                    </div>
                    <div class="button">
                        <a (click)="createOrder()" class="secondary-btn-checkout w-100 text-center">Finalizar compra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>