<div class="product-collection">
    <div class="container">
        <div class="h2 tag-title text-center mb-4">Coleções</div>
        <div class="product-collection-wrapper">
            <!-- product col left -->
            <div class="product-col-left flex border">
                <div class="product-col-content">
                    <h2 class="sm-title">men's shoes </h2>
                    <h2 class="md-title">men's collection </h2>
                    <p class="text-light d-none d-sm-block">Lorem ipsum dolor sit, amet consectetur adipisicing
                        elit.
                        Molestiae
                        consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum,
                        beatae
                        architecto odit, quisquam repellat. Deleniti, architecto ab.</p>

                    <div class="buynow button">
                        <button type="submit" class="secondary-btn-shop">
                            Shop now
                        </button>
                    </div>
                </div>
            </div>

            <!-- product col right -->
            <div class="product-col-right">
                <div class="product-col-r-top flex">
                    <div class="product-col-content">
                        <h2 class="sm-title">women's dresses </h2>
                        <h2 class="md-title">women's collection </h2>
                        <p class="text-light d-none d-sm-block">Lorem ipsum dolor sit, amet consectetur
                            adipisicing
                            elit. Molestiae
                            consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum,
                            beatae
                            architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                        <div class="buynow button mt-4">
                            <button type="submit" class="secondary-btn-shop">
                                Shop now
                            </button>
                        </div>
                    </div>
                </div>

                <div class="product-col-r-bottom">
                    <!-- left -->
                    <div class="flex">
                        <div class="product-col-content">
                            <h2 class="sm-title">summer sale </h2>
                            <h2 class="md-title">Extra 50% Off </h2>
                            <p class="text-light">Lorem ipsum dolor sit, voluptatibus exercitationem autem
                                voluptatum,
                                beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            <div class="buynow button mt-4">
                                <button type="submit" class="secondary-btn-shop">
                                    Shop now
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="flex">
                        <div class="product-col-content">
                            <h2 class="sm-title">shoes </h2>
                            <h2 class="md-title">best sellers </h2>
                            <p class="text-light">Lorem ipsum dolor sit, voluptatibus exercitationem autem
                                voluptatum,
                                beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            <div class="buynow button mt-4">
                                <button type="submit" class="secondary-btn-shop">
                                    Shop now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>